# Install heimdallr_client for development. To undo run `python setup.py develop -u` (this won't remove the post-schemas script).
-e .

# Documentation
sphinx
sphinx_rtd_theme
recommonmark

# Tests
coverage

# Distribution
twine